# class : 클래스
- 변수와 함수를 묶어 놓은 개념
- 사용 방법
    - 변수와 함수가 들어있는 클래스를 선언
    - 클래스를 객체로 만들어서 클래스 안에 선언된 변수와 함수를 사용
- 참고
    - 클래스 안에 선언 되어 있는 함수를 매소드라고 한다.

### 1. 기본 클래스의 사용

In [10]:
class Calculator:
    num1 = 1
    num2 = 2
    def plus(self):
        return self.num1 + self.num2
    
    def minus(self):
        return self.num1 - self.num2

In [11]:
calculator = Calculator()

In [12]:
calculator.plus()

3

In [13]:
calculator.minus()

-1

In [14]:
calculator.num1, calculator.num2

(1, 2)

### 클래스 내에서 self 란?
- 객체 자신

In [16]:
calculator.num1 =  10
calculator.plus()

12

### 객체지향
- 실제 세계를 코드에 반영해서 개발하는 방법
- 여러명의 개발자가 코드를 효율적으로 작성해서 프로젝트를 완성시키지 위한 방법
- 예 : 설계도 작성(클래스) -> 실제 설계(객체, object)

### 생성자
- 클래스가 객체로 생성될 때 실행되는 함수
- 변수(재료)를 추가할 때 사용

In [20]:
class Calculator:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
    
    def plus(self):
        return self.num1 + self.num2

In [21]:
cals = Calculator(1,4)

In [22]:
cals.plus()

5

### join 함수 사용하기

In [23]:
ls = ['python', 'is', 'good']

In [24]:
" ".join(ls)

'python is good'

In [25]:
import pandas as pd

pd.DataFrame(
    [{'name':'jaemin', 'age':25},
    {'name':'hyeon', 'age':25}]
)

     name  age
0  jaemin   25
1   hyeon   25