In [5]:
import pandas as pd
import numpy as np

2.0

In [42]:
df = pd.DataFrame({'name': range(1,100000000),
    'gf': range(1,100000000),
    'ga': range(1,100000000),
    'points': range(1,100000000)
                                                                   
})

In [43]:
df.tail()

              name        gf        ga    points
99999994  99999995  99999995  99999995  99999995
99999995  99999996  99999996  99999996  99999996
99999996  99999997  99999997  99999997  99999997
99999997  99999998  99999998  99999998  99999998
99999998  99999999  99999999  99999999  99999999

In [44]:
%%time
np.average(df["gf"])

Wall time: 88.4 ms

50000000.0

In [45]:
%%time
df["gf"].mean()

Wall time: 175 ms

50000000.0

In [25]:
import random

random.randint(1,4)

3

In [34]:
random.choice([1,2,3,4])

4