### map() 함수

In [1]:
# map() 함수
'''
Init signature: map(self, /, *args, **kwargs)
Docstring:     
map(func, *iterables) --> map object
'''

'\nInit signature: map(self, /, *args, **kwargs)\nDocstring:     \nmap(func, *iterables) --> map object\n'

In [63]:
ls = [(1,2), (2,3), 4]
list(map(lambda a: str(a), ls))

['(1, 2)', '(2, 3)', '4']

In [2]:
ls = [1,2,3,4,5]

def odd_even(num):
    return 'odd' if num % 2 else 'even'

In [52]:
list(map(odd_even, ls))

['odd', 'even', 'odd', 'even', 'odd']

In [7]:
# input 함수로 구분자는 " "으로 여러개의 숫자를 입력 받습니다.
# str.split(" ") 리스트로 만들고
# 만들어진 리스트의 값들을 int 형변환

In [9]:
data = input("Input number list :")

Input number list :10 20 30 40 50

In [11]:
list(map(int, data.split(" ")))

[10, 20, 30, 40, 50]

In [41]:
dic = {
    'a':60,
    'b':10,
    'c':80,
    'd':25
}

def echo(data):
    if data[1] > 50:
        return data
    else:
        return (data[0], '탈락')

In [43]:
dict(map(echo, dic.items()))

{'a': 60, 'b': '탈락', 'c': 80, 'd': '탈락'}

### filter() 함수

In [47]:
# filter() 함수

'''
Init signature: filter(self, /, *args, **kwargs)
Docstring:     
filter(function or None, iterable) --> filter object
'''

'\nInit signature: filter(self, /, *args, **kwargs)\nDocstring:     \nfilter(function or None, iterable) --> filter object\n'

In [49]:
list(filter(None, [1,2,3,4]))

[1, 2, 3, 4]

In [57]:
list(filter(lambda a: True if a > 100 else False, [100, 200, 300]))

[200, 300]

### reduce 함수
- 리스트 데이터를 처음부터 순서대로 특정 함수를 실행하여 결과를 누적시켜 주는 함수

In [ ]:
'''
Docstring:
reduce(function, sequence[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence,
from left to right, so as to reduce the sequence to a single value.
For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the sequence in the calculation, and serves as a default when the
sequence is empty.
Type:      builtin_function_or_method
'''

In [66]:
from functools import reduce

In [67]:
reduce(lambda a,b: a*b, [1,2,3,4,5,6])

720