### linspace, logspace 함수
- linspace : 설정한 범위에서 선형적으로 분할한 위치의 값을 출력
- logspace : 설정한 범위에서 로그로 분할한 위치의 값을 출력

In [3]:
import numpy as np

In [5]:
# linspace
np.linspace(0, 100, 4)

array([  0.        ,  33.33333333,  66.66666667, 100.        ])

In [7]:
# logspace
# log10(x1)=2, log(x2)=3, log10(x3)=4
np.logspace(2,4,3)

array([  100.,  1000., 10000.])

In [9]:
# 30세에 연봉이 $100,000 이고 60세의 연봉이 $1,000,000일 때 
# 연봉이 선형으로 증가, 지수함수로 증가하는 두 경우에서의 40세와 50세의 연봉을 출력

In [10]:
age30 = 100000
age60 = 1000000

In [11]:
np.linspace(age30, age60, 4)

array([ 100000.,  400000.,  700000., 1000000.])

In [13]:
np.logspace(np.log10(age30), np.log10(age60), 4)

array([ 100000.        ,  215443.46900319,  464158.88336128,
       1000000.        ])

### numpy random
- seed : 랜덤값을 설정값
- rand : 균등분포로 랜덤한 난수를 생성
- randn : 정규분포로 난수를 발생
- randint : 균등분포로 정수값을 발생
- suffle : 행렬 데이터를 셔플
- choice : 특정 확률로 데이터를 선택

In [16]:
# seed
np.random.seed(1)
result1 = np.random.randint(10, 100, 10)
np.random.seed(1)
result2 = np.random.randint(10, 100, 10)
np.random.seed(2)
result3 = np.random.randint(10, 100, 10)

In [17]:
result1, result2, result3

(array([47, 22, 82, 19, 85, 15, 89, 74, 26, 11]),
 array([47, 22, 82, 19, 85, 15, 89, 74, 26, 11]),
 array([50, 25, 82, 32, 53, 92, 85, 17, 44, 59]))

In [19]:
# rand
np.random.rand(10)

array([0.20464863, 0.61927097, 0.29965467, 0.26682728, 0.62113383,
       0.52914209, 0.13457995, 0.51357812, 0.18443987, 0.78533515])

In [20]:
# randn
np.random.randn(10)

array([-0.0191305 ,  1.17500122, -0.74787095,  0.00902525, -0.87810789,
       -0.15643417,  0.25657045, -0.98877905, -0.33882197, -0.23618403])

In [25]:
r = np.random.randint(1, 5, (3,4))

In [26]:
r

array([[1, 3, 2, 2],
       [2, 2, 3, 1],
       [3, 3, 4, 1]])

In [27]:
np.random.shuffle(r)
r

array([[2, 2, 3, 1],
       [3, 3, 4, 1],
       [1, 3, 2, 2]])

In [31]:
# choice
np.random.choice(5, size=10, p=[0.1, 0, 0.4, 0.2, 0.3])

array([4, 2, 4, 2, 2, 4, 4, 4, 3, 4])

In [34]:
# unique

numbers, counts = np.unique(r, return_counts=True)

In [35]:
numbers, counts

(array([1, 2, 3, 4]), array([3, 4, 4, 1], dtype=int64))

### 행렬 데이터의 결합
- concatenate

In [37]:
na1 = np.random.randint(10, size=(2,3))
na2 = np.random.randint(10, size=(3,2))
na3 = np.random.randint(10, size=(3,3))

In [40]:
# 세로 결합
na1

array([[0, 8, 5],
       [4, 2, 9]])

In [41]:
na3

array([[7, 1, 8],
       [9, 0, 7],
       [0, 5, 2]])

In [42]:
na2

array([[7, 1],
       [9, 2],
       [1, 0]])

In [44]:
np.concatenate((na1, na3))

array([[0, 8, 5],
       [4, 2, 9],
       [7, 1, 8],
       [9, 0, 7],
       [0, 5, 2]])

In [47]:
np.concatenate((na2, na3), axis=1)

array([[7, 1, 7, 1, 8],
       [9, 2, 9, 0, 7],
       [1, 0, 0, 5, 2]])

In [49]:
a = np.array([1,2,3])
b = np.array([4,5,6])
a, b

(array([1, 2, 3]), array([4, 5, 6]))

In [51]:
np.c_[a, b]

array([[1, 4],
       [2, 5],
       [3, 6]])

In [53]:
np.r_[a,b]

array([1, 2, 3, 4, 5, 6])